.title{
    padding-top: 40px;
    text-align: center;
}

.area{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}

.spacing{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: teal;
    height: 200px
}

.small{
    height: 200px;
    width: 200px;
}



.text{
    text-align: center;
}