
#title-section{
    padding-top: 40px;
    text-align: center;
}

.area{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    background-color: teal;
    height: fit-content;
}

.text-area{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
}

@media screen and (max-width: 600px){
    .area{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        flex-direction: column;
    }
    .text{
        font-size: small;
    }
}


.small{
    height: 200px;
    width: 200px;
}



.text{
    text-align: center;
}